.bigdot{
    font-size: large;
}
.maintain{
    padding-bottom: 30px;
      }
    .sideway{
        padding-left: 300px;
    }
    
    .maintain{
        padding-bottom: 30px;
          }