.innerRecent{
    padding-bottom: 10px;
}
.sideway{
    padding-left: 1000px;
}
.bigdot{
        font-size: large;
    }
.cardsize{
    height: 400px;
    
}
    
.smalltext{
    margin-top: "-40px";
    font-weight: "lighter" 
}